body{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 0;
    padding: 0;
  }
  header {
    background-image:  url("images/logo.jpg");
    background-repeat: none;
    height: 11em;
    background-size: 100%;
    padding: 5em;
    background-position: center;
    text-align: center;
  }
 
  header .logo a{
    background-size: 100%;
    position: relative;
    display: inline-block;
  }
  
  button{
    margin-right: 90%;
    margin-top: 1%;
    color: rgba(255, 255, 255, 0.518);
    background-color: rgb(3, 1, 31);
    font-size: 150%;
  }
  button:hover {
    color: rgb(102, 0, 0);
    font-size: 200%;
    background-color: rgb(0, 0, 104);
  }

  div {
    color:gray;
    height: 40em;
    text-align: center;
  }
  .left {
    background: rgb(15, 26, 47);
    width: 50%;
    float: left;
  }
  .right {
    background: rgb(15, 26, 47);
    width: 50%;
    float: right;
  }


  footer{
    background: rgb(15, 26, 47);
    color: gray;
    text-align: center;
    font-size: 110%;
  }
  
  img {
    height: 100%;
    width: 100%;
  }




 
